function @setup-test() {
  local meteor_version=${1:-"3.1"}

  echo "🚀 Setting up test environment for Meteor ${meteor_version}"

  rm -rf test
  meteor create --release ${meteor_version} --bare test
  
  (
    cd test
    meteor npm i --save puppeteer@1.18.1 simpl-schema@3.4.6 chai@4.3.6
  )
}

function @test() {
  local meteor_version=${1:-"3.1"}

  echo "🚀 Running tests with Meteor ${meteor_version}"
  
  (
    cd test
    METEOR_PACKAGE_DIRS="../" TEST_BROWSER_DRIVER=puppeteer meteor test-packages \
        --raw-logs \
        --once \
        --driver-package meteortesting:mocha \
        --release ${meteor_version} \
        --exclude-archs=web.browser.legacy \
        ../
  )
}

function @testd {
    (
    cd test
    METEOR_PACKAGE_DIRS="../" TEST_BROWSER_DRIVER=puppeteer meteord test-packages \
        --raw-logs \
        --once \
        --driver-package meteortesting:mocha \
        --exclude-archs=web.browser.legacy \
        ../
  )
}