name: Tests

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        meteor: ["3.0.4", "3.1.2", "3.2"]
        redis-version: [4, 5, 6, 7]

    steps:
      - uses: actions/checkout@v4

      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Setup Meteor
        uses: meteorengineer/setup-meteor@v2
        with:
          meteor-release: ${{ matrix.meteor }}
      - name: Setup tests
        run: |
          meteor create --release ${{ matrix.meteor }} --bare test
          cd test
          meteor npm i --save puppeteer@1.18.1 simpl-schema@3.4.6 chai@4.3.6
      - name: Test
        working-directory: ./test
        run: METEOR_PACKAGE_DIRS="../" TEST_BROWSER_DRIVER=puppeteer meteor test-packages --raw-logs --once --driver-package meteortesting:mocha --release ${{ matrix.meteor }} ../
